<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>net.doridian.DockAttachScript</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/doridian/Programming/os-config/xpc_set_event_stream_handler</string>
		<string>/Users/doridian/Programming/os-config/dock-attach-script.sh</string>
	</array>
	<key>LaunchEvents</key>
	<dict>
		<key>com.apple.iokit.matching</key>
		<dict>
			<key>net.doridian.DockAttachScript.Event</key>
			<dict>
				<key>idVendor</key>
				<integer>8584</integer>
				<key>idProduct</key>
				<integer>50</integer>
				<key>IOProviderClass</key>
				<string>IOUSBDevice</string>
				<key>IOMatchLaunchStream</key>
				<true/>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
